body {
    max-width: 800px;
    margin: 0 auto;
}
.one {
    border: 2px solid blue;
    background-color: rgba(255, 0, 0, 0.366);
    padding: 32px;
    margin: 12px;
}

.two {
    border: 2px solid purple;
    background-color: rgba(0, 124, 81, 0.304);
    margin-bottom: 48px;
}

.three {
    border: 2px solid red;
    background-color: rgba(255, 166, 0, 0.359);
    padding: 32px;
    width: 200px;
    margin-left: auto;
}